<ion-modal-view>
  <ion-header-bar class="bar bar-hearder bar-positive">
    <h1 class="title">Close {{openTab.name}}'s Tab'</h1>
    <button class="button button-clear button-primary" on-tap="closeModal()">Cancel</button>
  </ion-header-bar>
  <ion-content class="padding">
    <h3>How would you like to close this tab</h3>
    <button class = "button button-full button-balanced">Cash</button>
    <button class = "button button-full button-balanced">Credit</button>

  </ion-content>
</ion-modal-view>
