<ion-view view-title="{{tabOwner}}'s {{tabLocation}} Bill">
  <ion-content class="has-footer">
    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <input id="scaninput" type="text" ng-model="scanneditem" ng-enter="addToTab()" autofocus/>
      </label>
      <button id="scannerbutton" class="button button-balanced ion-plus button-small" ng-click="addToTab()" ng-enter="addToTab()">
        Add Item
      </button>



    </div>
    <!--
    <cigar-directive cigarid="SMoKEAPIservice.getCigarDetails(tabItemList[0].id)">cigarname{{cigarid}}</cigar-directive>
    ng-init="getCigarName(tabItem.cigarid)"
    <p>tabItem id: {{tabItem.id}}  cigarId: {{tabItem.cigarid}}  retail: {{tabItem.retail}} name: {{tabItem.name}}</p>
    -->
    <div>
    <ion-row>
        <ion-col width-30 offset-15>Subtotal:</ion-col>
        <ion-col width-30 offset-15>
          <span id="currency-default">{{subtotal | currency}}</span>
        </ion-col>
      </ion-row>
      <ion-list>
      <ion-item class="item item-divider">
        <div class="row">
          <div class="col col-15">Qty:</div>
          <div class="col col-60">Item Name:</div>
          <div class="col col-25">Cost:</div>
        </div>
      </ion-item>
      <ion-item ng-repeat = "tabItem in tabItemList" ng-init='getCigarName(tabItem)'  type="item-text-wrap" >
      
      <div class="row">
          <div class="col col-15">1</div>
          <div class="col col-60">{{tabItem.name}}</div>
          <div class="col col-25">${{tabItem.retail}}</div>
        </div>

      </ion-item> 
      </div>
    <!--
    <div>
    <button class = "button button-balanced ion-plus button-small" ng-click="askForPIN()">
    PIN 
    </div>
    
    <ion-list>
      
      <ion-item class="item-text-wrap" ng-repeat="item in openTab.bill" ng-click="openPopover($event)" >
        
      </ion-item>
    </ion-list>
    -->
  </ion-content>
  <ion-footer-bar class="item item-divider" style="position: fixed">
    <ion-grid>
      <ion-row>
        <ion-col width-30 offset-15>Subtotal:</ion-col>
        <ion-col width-30 offset-15>
          <span id="currency-default">{{subtotal | currency}}</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer-bar>
</ion-view>
