<ion-view view-title="Open Tabs">
  <ion-content class=body >
  <div id="currentEmployee"></div>
  <div class="item item-input-inset">
      <button class="button button-balanced ion-plus button-block" ng-click="askForLocation()">
        Open New Tab
      </button>
    </div>
    <!--
    <div>
      <button id="locationbutton" class="button button-balanced ion-plus button-small" ng-click="go('/tab/specials')">
        Locations
      </button>
    </div>

    -->
  <input id="searchtabs" type="text" ng-model="nameFilter.text" placeholder="Search..."/>
  <ion-list>
  <ion-item class="item item-divider">
        <div class="row">
          <div class="col col-25">TabID:</div>
          <div class="col col-50">Location:</div>
          <div class="col col-25">Employee:</div>
        </div>
      </ion-item>
    <ion-item ng-repeat="tab in tabList | filter: nameFilter.text" type="item-text-wrap" ng-click = "askForPINlite({{tab}})">
    <div class="row">
          <div class="col col-25">{{tab.id}}</div>
          <div class="col col-50">{{tab.location}}</div>
          <div class="col col-25">{{tab.name}}</div>
        </div>
        <!--
    <p>tab id : {{tab.id}}  location : {{tab.location}}  name : {{tab.name}}</p>
    ng-href="#/tab/opentabs/{{tab.id}}"
    -->
    </ion-item>
    </ion-list>
    <!--
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right " ng-repeat="openTab in openTabs" type="item-text-wrap" href="#/tab/opentabs/{{openTab.id}}">
        <h2>{{openTab.name}}</h2>
        <p>Opened
          <span am-time-ago="openTab.time"></span>
        </p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove(openTab)">
          Void
        </ion-option-button>
        <ion-option-button class="button-balanced" ng-click="openModal()">
          Close Tab
        </ion-option-button>
      </ion-item>
    </ion-list>

    -->
    <br/>
  <br/>
  <br/>
  </ion-content>
  <br/>
  <br/>
  <br/>
</ion-view>
