<ion-view view-title="Locations">
  <ion-content>
  <!--
    <ion-item ng-repeat="special in specials" type="item-text-wrap">
      <h2>{{special.title}}</h2>
      <p>
        {{special.amount}}%
      </p>
    </ion-item>
    -->
    
<ion-item>
<div class = "row responsive-sm">
   <div class = "col col-top"></div>
   <div class = "col col-top"></div>
   <div class = "col col-top"></div>
   <div class = "col col-top"></div>
   <div class = "col col-top"></div>
   <div class = "col col-top"></div>
   <div class = "col col-top"><button class="button button-balanced ion-plus button-small" ng-click="askForCard('MemberOnly')">
        MemO
      </button></div>
   <div class = "col col-top"><button class="button button-balanced ion-plus button-small" ng-click="askForCard('Left 2')">
        Left 2
      </button></div>
   <div class = "col col-top"><button class="button button-balanced ion-plus button-small" ng-click="askForCard('Left 3')">
        Left 3
      </button></div>
   <div class = "col col-top"><button class="button button-balanced ion-plus button-small" ng-click="askForCard('Left 4')">
        Left 4
      </button></div>
 </div>
 </ion-item>
 <ion-item>
 <div class = "row responsive-sm">
   <div class = "col col-top"><button class="button button-balanced ion-plus button-small" ng-click="askForCard('Outside 4')">
        Out 4
      </button></div>
   <div class = "col col-top"><button class="button button-balanced ion-plus button-small" ng-click="askForCard('Hookah Bar Left')">
        HookBL
      </button></div>
   <div class = "col col-top"><button class="button button-balanced ion-plus button-small" ng-click="askForCard('Hookah Bar Right')">
        HookBR
      </button></div>
   <div class = "col col-top"></div>
   <div class = "col col-top"><button class="button button-balanced ion-plus button-small" ng-click="askForCard('Humidor Chair Left')">
        HumCL
      </button></div>
   <div class = "col col-top"><button class="button button-balanced ion-plus button-small" ng-click="askForCard('Humidor Chair Right')">
        HumCR
      </button></div>
   <div class = "col col-top"></div>
   <div class = "col col-top"></div>
   <div class = "col col-top"></div>
   <div class = "col col-top"></div>
 </div>
 </ion-item>
 <ion-item>
 <div class = "row responsive-sm">
   <div class = "col col-top"><button class="button button-balanced ion-plus button-small" ng-click="askForCard('Outside 3')">
        Out 3
      </button></div>
   <div class = "col col-top"></div>
   <div class = "col col-top"></div>
   <div class = "col col-top"><button class="button button-balanced ion-plus button-small" ng-click="askForCard('Comfy Chair')">
        Comfy
      </button></div>
   <div class = "col col-top"></div>
   <div class = "col col-top"></div>
   <div class = "col col-top"></div>
   <div class = "col col-top"><button class="button button-balanced ion-plus button-small" ng-click="askForCard('Other')">
        Other
      </button></div>
   <div class = "col col-top"></div>
   <div class = "col col-top"><button class="button button-balanced ion-plus button-small" ng-click="askForCard('VIP')">
        VIP
      </button></div>
 </div>
 </ion-item>
 <ion-item>
 <div class = "row responsive-sm">
   <div class = "col col-top"><button class="button button-balanced ion-plus button-small" ng-click="askForCard('Outside 2')">
        Out 2
      </button></div>
   <div class = "col col-top"><button class="button button-balanced ion-plus button-small" ng-click="askForCard('Hightop 1')">
        HTop 1
      </button></div>
   <div class = "col col-top"><button class="button button-balanced ion-plus button-small" ng-click="askForCard('Hightop 2')">
        HTop 2
      </button></div>
   <div class = "col col-top"></div>
   <div class = "col col-top"></div>
   <div class = "col col-top"></div>
   <div class = "col col-top"></div>
   <div class = "col col-top"><button class="button button-balanced ion-plus button-small" ng-click="askForCard('Unknown')">
        Unknwn
      </button></div>
   <div class = "col col-top"></div>
   <div class = "col col-top"></div>
 </div>
 </ion-item>
 <ion-item>
 <div class = "row responsive-sm">
   <div class = "col col-top"></div>
   <div class = "col col-top"></div>
   <div class = "col col-top"></div>
   <div class = "col col-top"></div>
   <div class = "col col-top"><button class="button button-balanced ion-plus button-small" ng-click="askForCard('Bar Left')">
        BarL
      </button></div>
   <div class = "col col-top"><button class="button button-balanced ion-plus button-small" ng-click="askForCard('Bar Middle')">
        BarM
      </button></div>
   <div class = "col col-top"><button class="button button-balanced ion-plus button-small" ng-click="askForCard('Bar Right')">
        BarR
      </button></div>
   <div class = "col col-top"></div>
   <div class = "col col-top"></div>
   <div class = "col col-top"></div>
 </div>
 </ion-item>
 <ion-item>
 <div class = "row responsive-sm">
   <div class = "col col-top"><button class="button button-balanced ion-plus button-small" ng-click="askForCard('Outside 1')">
        Out 1
      </button></div>
   <div class = "col col-top"></div>
   <div class = "col col-top"><button class="button button-balanced ion-plus button-small" ng-click="askForCard('Front Chair')">
        FrntC
      </button></div>
   <div class = "col col-top"><button class="button button-balanced ion-plus button-small" ng-click="askForCard('Bar Front')">
        BarF
      </button></div>
   <div class = "col col-top"></div>
   <div class = "col col-top"></div>
   <div class = "col col-top"></div>
   <div class = "col col-top"><button class="button button-balanced ion-plus button-small" ng-click="askForCard('Right 1')">
        Right 1
      </button></div>
   <div class = "col col-top"><button class="button button-balanced ion-plus button-small" ng-click="askForCard('Right 2')">
        Right 2
      </button></div>
   <div class = "col col-top"><button class="button button-balanced ion-plus button-small" ng-click="askForCard('Right 3')">
        Right 3
      </button></div>
 </div>
 </ion-item>
  </ion-content>
</ion-view>
