ion-popover-view.fit {
  height: auto !important;
}

ion-popover-view.fit ion-content {
  position: relative !important;
}

.platform-android ion-popover-view.fit {
  margin-top: 10px !important;
}

.col{
  
 height: 40px !important;
 font-size: 3.5vw;
 

overflow: auto;
text-overflow: auto;
white-space: wrap;
}

/*/*
.row{
word-wrap: break-word;

}

.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
  /* white-space: -moz-pre-wrap; /* Firefox */    
   /*white-space: -pre-wrap;     /* Opera <7 */   
  /* white-space: -o-pre-wrap;   /* Opera 7 */    
  /* word-wrap: break-word;      /* IE */
/*}
*/